__pycache__/

# Environments
.env
.venv
env/
venv/
venvcpu/
ENV/
env.bak/
venv.bak/

# Project specific
user/
temp/
ignore/
build/
log/
dist/
output/
export/

# created when building
LICENSE.txt 
requirements_temp.txt
*.spec
SpeechTranslate.egg-info/