torch==2.1.1
torchaudio==2.1.1
deep-translator==1.11.1
notify-py==0.3.42
loguru
pillow==9.5.0
pywin32==306; platform_system == "Windows"
PyAudioWPatch==0.2.12.6; platform_system == "Windows"
PyAudio==0.2.13; platform_system != "Windows"
pystray==0.19.5
tkhtmlview==0.2.0
tksheet==6.2.9
requests==2.31.0
scipy==1.11.3
sounddevice==0.4.6
soundfile==0.12.1
webrtcvad @ git+https://github.com/wiseman/py-webrtcvad.git@e283ca41df3a84b0e87fb1f5cb9b21580a286b09
darkdetect==0.8.0
matplotlib==3.8.0
onnxruntime==1.16.1
demucs==4.0.1
stable-ts @ git+https://github.com/jianfch/stable-ts.git@900797a90a35b09fef9fe13574e963dc6a58aa56
faster-whisper @ git+https://github.com/SYSTRAN/faster-whisper.git@e1a218fab1ab02d637b79565995bf1a9c4c83a09